header {
background-color: #31C6D4;
padding: 5% 0 3% 0;
text-align: center;
}

h1 {
color: #FFFF00;
font-size: 4rem;
font-family: "satisfy", cursive;
}

h2 {
color: #FF9209;
font-size:2rem;
font-family: "Permanent Marker", cursive;
}

h3 {
font-family: "Bree Serif", serif;
text-align: center;
font-size: 2rem;
padding: 2% 0 3%;	
}

p {
font-family: "Bree Serif", serif;
font-size: 1.1rem;	
}

main {
background-color: #EEEDED;
padding: 3% 0 5%;
}

footer {
background-color: #31C6D4;
padding: 5% 0 3% 0;
text-align: center;
}

img {
width:70%
}

.imPro {
    padding: 2% 2%;
}

.imPro:hover {
  background-color: gray;
}